*{
  font-family: 'ZCOOL XiaoWei', serif;

}
.container{
  background-color: #4d8da1;
  height: 140vh;
  width:100%;
  margin-top:60px;
  margin-bottom: 60px;
}

.col-md-12{
  margin-top: 50px;
}

.text{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card{
  margin:10px;
  box-shadow: 2px 2px;
}

p{
  font-size: 20px;
}
